[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
ipykernel = "*"
xarray = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
scikit-learn = "*"
scikit-lego = "*"
scores = "*"

[dev-packages]

[requires]
python_version = "3.12"
